<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.mapper.LessonPlanMapper">


    <select id="pageQuery" resultType="com.ai.entity.LessonPlan">
        select * from lesson_plan
        where userid = #{userid} and deleted = 1
    </select>
</mapper>
